In [11]:
import os
import pandas as pd
import plotly.express as px
import plotly.offline as pyo

df = pd.read_csv('gdp.csv')

final_data = []

for country_name in df['Country Name'].unique():
    df_pr = df[df['Country Name'] == country_name]
    data = df_pr.values
    gdp_change = [0]

    for i in range(1,len(data)):
        prev = data[i-1][3]
        cur = data[i][3]
        gdp_change.append(round(((cur - prev) / prev)*100,2))

    df_pr = df_pr.assign(GDP = gdp_change)
    final_data.append(df_pr)
    
df = pd.concat(final_data, axis = 0)

df.head()

  Country Name Country Code  Year         Value    GDP
0   Arab World          ARB  1968  2.576068e+10   0.00
1   Arab World          ARB  1969  2.843420e+10  10.38
2   Arab World          ARB  1970  3.138550e+10  10.38
3   Arab World          ARB  1971  3.642691e+10  16.06
4   Arab World          ARB  1972  4.331606e+10  18.91

## GDP Comparison between Specific Countries

In [12]:
lst = ['IND','ITA', 'USA', 'CHN']

dfs = []
for i in lst:
    dfs.append(df[df['Country Code'] == i])
    
    df_pr = pd.concat(dfs, axis = 0)

In [13]:
# Make sure lst is a list of strings
lst = list(map(str, lst))  # Converts elements of lst to strings if needed

# Create the plot with a more appropriate separator (e.g., ',')
fig = px.line(df_pr, x='Year', y='Value', title='GDP Comparison - ' + ', '.join(lst), color='Country Name')

# Save the plot to a file with a valid name (use '_' instead of '|')
pyo.plot(fig, filename='_'.join(lst) + '.html')

'IND_ITA_USA_CHN.html'

In [14]:
def comare_gdp(lst, isOpen):
    
    dfs = []
    for i in lst:
        dfs.append(df[df['Country Code'] == i])

        df_pr = pd.concat(dfs, axis = 0)
        
    fig = px.line(df_pr, x = 'Year', y = 'Value', title = 'GDP Comparison - ' + '|'.join(lst), 
                  color = 'Country Name')
    pyo.plot(fig, filename = '|'.join(lst) + '.html', auto_open = isOpen)

In [15]:
def compare_gdp(countries, plot=True):
    # Assuming df is a DataFrame containing the GDP data with 'Country Code' and 'Year'
    df_filtered = df[df['Country Code'].isin(countries)]
    
    if plot:
        fig = px.line(df_filtered, x='Year', y='Value', color='Country Name', 
                      title='GDP Comparison: ' + ', '.join(countries))
        pyo.plot(fig)
    else:
        print(df_filtered)

In [16]:
compare_gdp(['IND', 'USA'], False)

        Country Name Country Code  Year         Value    GDP
6074           India          IND  1960  3.653593e+10   0.00
6075           India          IND  1961  3.870910e+10   5.95
6076           India          IND  1962  4.159907e+10   7.47
6077           India          IND  1963  4.777600e+10  14.85
6078           India          IND  1964  5.572687e+10  16.64
...              ...          ...   ...           ...    ...
11081  United States          USA  2012  1.615526e+13   4.11
11082  United States          USA  2013  1.669152e+13   3.32
11083  United States          USA  2014  1.739310e+13   4.20
11084  United States          USA  2015  1.812071e+13   4.18
11085  United States          USA  2016  1.862448e+13   2.78

[114 rows x 5 columns]